---
import "../styles/global.scss";
---

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 980px;
    margin: auto;
    font-size: 1.25rem;
    font-weight: 500;
  }

  a + a {
    margin-left: 2rem;
  }
</style>

<nav>
  <div>
    <a href="/">My Blog</a>
    <!-- <a href="/blog/">Blog</a>
    <a href="/about">About</a> -->
  </div>
  <!-- <button role="button" class="theme-switch">Switch</button> -->
</nav>

<script is:inline>
// get the user's preferred theme
const getPreferredTheme = () => {
  const browserPreference = localStorage?.getItem("theme");
  if (browserPreference) {
    return browserPreference;
  }

  const osTheme = window.matchMedia("(prefers-color-scheme: dark)");
  const hasPreference = typeof osTheme.matches === "boolean";
  if (hasPreference) {
    return osTheme.matches ? "dark" : "light";
  }

  return "light";
};

// Set the initial theme
const initialThemeClass = getPreferredTheme();
document.documentElement.classList.add(initialThemeClass);
</script>

<script>
  // toggle the theme
  const toggleTheme = () => {
    const element = document.documentElement;
    const currentTheme = element.classList.contains("light") ? "light" : "dark";
    const newTheme = currentTheme === "light" ? "dark" : "light";
    element.classList.replace(currentTheme, newTheme);
    localStorage.setItem("theme", newTheme);
    console.log({ currentTheme, newTheme });
  };

  // Attach click event to the theme switch button
  const button = document.querySelector(".theme-switch");
  button?.addEventListener("click", toggleTheme);
</script>
