---
import Header from "../components/Header.astro";
import "../styles/global.scss";
---

<style>
  body {
    padding-top: 1.5rem;
    height: 200vh;
  }

  main {
    max-width: 980px;
    margin: auto;
    padding-top: 1.5rem;
  }

  .container {
    padding-block: 3rem;
  }
</style>

<script>
  let count = 0;
  if (!sessionStorage.getItem("isVisited")) {
    count++;
    sessionStorage.setItem("isVisited", "true");
  }
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>My Blog</title>
  </head>

  <body>
    <Header />
    <main class="container">
      <slot />
    </main>
  </body>
</html>
